@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,200;0,300;1,100&family=Space+Grotesk:wght@300&display=swap');
@font-face {
  font-family: "vcr";
  src: url("../fonts/vcr.ttf");
}


/** OVERALL Styles **/

body {
  font-family: 'Hanken Grotesk', sans-serif;
  /* background-image: linear-gradient(#333, lightblue); */
  /* color: white; */
  /* background-image: linear-gradient(#a1bff0, white); */
  /* background-image: linear-gradient(yellowgreen, white); */
  background-color: white;
  box-sizing: border-box;
  margin: 10vw;
  font-size: 1.25em;
  line-height: 1.5em;
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

/** TEXT Styles **/

a {
  text-decoration: none;
  transition: .5s;
}

li {
  list-style: none;
}

p {
  display: block;
  position: relative;
  z-index: 300;
  margin-left: 15vw;
  max-width: 50vw;
}

.captions__text {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-bottom: 5vh;
  max-width: 100vw;
  color: #999;
  font-size: smaller;
}

img {
  padding-top: 2vw;
  /* left: 65vw; */
  z-index: 100;
  /* filter: brightness(100%); */
  opacity: 1;
  transition: .5s;
}

img:hover {
  opacity: 0.75;
  transition: .5s;
}

.section__img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 90vh;
  object-fit: cover;
}

#double__img {
  width: 100%;
  height: 90vh;
  object-fit: cover;
}

.column {
  flex: 50%;
  padding: 0.5vw;
}

.rows {
  display: flex;
}

.opening__shot img {
  left: 0;
  top: 0;
  margin-left: -20vw;
  margin-bottom: -10vw;
  margin-top: -10vw;
  width: 120vw;
  height: 80vh;
  object-fit: cover;
  -webkit-animation: fadeInCover 7.5s;
  animation: fadeInCover 7.5s;
  opacity: 0.75;
}

.opening__shot img:hover{
  opacity: 0.75;
}

a:visited {
    text-decoration: none;
    color:initial;
}
a:hover {
  color: white;
  transition: .5s;
}

h1 {
  color: #111;
  margin-bottom: 10vw;
  position:relative;
  overflow-wrap: break-word;
  line-height: 1em;
  /* font-family: "vcr"; */
  left: 25vw;
  font-size: 6vw;
  transition: .5s;
  -webkit-animation: fadeIn 2s;
  animation: fadeIn 2s;
}

h1:hover {
  color: #666;
  transition: .5s;
}

h2 {
  font-weight: bold;
  position: relative;
}

hr {
  border: solid grey;
}

.site__description {
  z-index: 100;
}

.link__brooklyn {
  position:relative;
  text-decoration: none;
  font-size: 6vh;
  color: white;
  left: 2vw;
  font-weight: bold;
  -webkit-animation: fadeIn 2s;
  animation: fadeIn 2s;
}
.link__manhattan {
  position:relative;
  text-decoration: none;
  left: 2vw;
  font-size: 6vh;
  color: black;
  font-weight: bold;
  -webkit-animation: fadeIn 2s;
  animation: fadeIn 2s;
}

.takeaways {
  margin-left: -7.5vw;
  background-color: #dedede;
  border: 5vw solid #dedede;
  line-height: 10vh; 
  font-size: 5vh;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

@-webkit-keyframes fadeInCover {
  from {opacity: 0;}
  to {opacity: 0.75;}
}

@keyframes fadeInCover {
  from {opacity: 0;}
  to {opacity:0.75 ;}
}

/** ANIMATION Headers **/

#container {
  display: block;
  position: absolute;
  margin-left: 32vw;
  margin-right: auto;
  width: 75%;
  margin-top: 0vh;
  filter: url(#threshold) blur(0.6px);
}

#text1,
#text2 {
  /* text-transform: uppercase; */
  color: #222;
  /* -webkit-text-stroke: 1px #fff; */
  font-size: 11vw;
  position: fixed;
  /* font-family: "vcr"; */
  display:inline;
  user-select: none;
}


/* NAVBAR STYLING STARTS */
#navbar {
  text-transform: uppercase;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content:space-around;
  left: 0;
  top: 0;
  background-color: white;
  width: 100%;
  z-index: 1000;
  opacity: 0;
  transition: 0.5s; /* Transition effect when sliding down (and up) */
}
  
.nav-links a {
    color: black;
}
  
  /* LOGO */
.logo {
  /* margin-left: -10vw; */
  font-size: 1.5vw;
}
  
/* NAVBAR MENU */
.menu {
  display: flex;
  gap: 1vw;
  font-size: 1vw;
}
  
.menu li:hover {
  background-color: #999;
  transition: 0.3s ease;
}
  

input[type=checkbox] {
  display: none;
} 
  
/* HAMBURGER MENU */
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}
  
/* APPLYING MEDIA QUERIES */
@media (max-width: 1080px) {
.menu {
  display:none;
  position: absolute;
  background-color:white;
  right: 0;
  left: 0;
  text-align: center;
  padding: 2vw 0;
  font-size: 2vw;
}

.menu li:hover {
  display: inline-block;
  transition: 0.3s ease;
}

.menu li + li {
  margin-top: 2vw;
}
  
/* LOGO */
.logo {
  /* margin-left: -10vw; */
  font-size: 2.5vw;
}

input[type=checkbox]:checked ~ .menu {
  display: block;
}

.hamburger {
  display: block;
}
}



/** MOBILE Content Rules **/
@media (max-width: 1080px) {
  body {
    font-family: 'Hanken Grotesk', sans-serif;
    /* background-image: linear-gradient(#a1bff0, white); */
    color: black;
    margin: 2.5vw;
    font-size: 1em;
    line-height: 1.5em;
    overflow-x: hidden; /* Hide horizontal scrollbar */
  }

  p {
    max-width: 100vw;
    left: -7.5vw;
  }

  h1 {
    margin-bottom: 10vh;
    overflow-wrap: break-word;
    line-height: .75em;
    font-size: 10vw;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    transform: rotateY(30deg);
    z-index: 300;
    color: white;
  }

  .section__img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 90vh;
    object-fit: cover;
  }

  .column {
    float: left;
    width: 50%;
    padding: 2vw;
  }

  .double__img::after {
    content:"";
    clear: both;
    display: table;
  }

  .captions__text {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 5vh;
    color: #999;
    font-size: smaller;
  }


  .opening__shot img {
    left: 0;
    top: 0;
    margin-left: -20vw;
    margin-top: -25vh;
    margin-bottom: 60vw;
    width: 140vw;
    height: 100vh;
    object-fit: contain;
  }

  .column {
    float:none;
    width: 95vw;
    padding: 0.5vw;
  }
  
  .rows {
    display: grid;
  }

  .takeaways {
    margin-left: 0vw;
    background-color: #dedede;
    border: 5vw solid #dedede;
    line-height: 5vh; 
    font-size: 5vw;
  }

  .link__brooklyn {
    text-decoration: none;
    line-height: 10vh;
    font-size: 10vh;
    color: white;
    left: 2vw;
    font-weight: bold;
    -webkit-animation: fadeIn 2s;
    animation: fadeIn 2s;
  }
  .link__manhattan {
    text-decoration: none;
    line-height: 10vh;
    left: 2vw;
    font-size: 10vh;
    color: black;
    font-weight: bold;
    -webkit-animation: fadeIn 2s;
    animation: fadeIn 2s;
  }

  #container {
    margin-top: -120vh;
  }

  #text1,
  #text2 {
    font-size: 10vh;
    position: absolute;
    font-family: "vcr";
    width: 100%;
    display:inline;
    user-select: none;
  }
}













































/** STYLES: Popup **/

.pros__cons {
  position: relative;
  float: left;
  width: 50%;
}

body.good {
  font-family: 'Hanken Grotesk', sans-serif;
  padding: 5vh;
  font-size: 1.25em;
  line-height: 1.5em;
  background-image: url("../data/Axon.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
}

body.bad {
  font-family: 'Hanken Grotesk', sans-serif;
  padding: 5vh;
  font-size: 1.25em;
  line-height: 1.5em;
  background-image: url("../data/b.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
}

.link__switch__bad {
  position:absolute;
  left: 80%;
  text-decoration: none;
  color: red;
  font-weight: bold;
  -webkit-animation: fadeIn 5s;
  animation: fadeIn 5s;
}

.link__switch__good {
  position:absolute;
  left: 90%;
  text-decoration: none;
  color: lawngreen;
  font-weight: bold;
  -webkit-animation: fadeIn 5s;
  animation: fadeIn 5s;
}

.link__home__bad {
  position:relative;
  text-decoration: none;
  font-size: 8vh;
  color: white;
  left: 2vw;
  font-weight: bold;
  -webkit-animation: fadeIn 2s;
  animation: fadeIn 2s;
}
.link__home__good {
  position:relative;
  text-decoration: none;
  left: 2vw;
  font-size: 8vh;
  color: black;
  font-weight: bold;
  -webkit-animation: fadeIn 2s;
  animation: fadeIn 2s;
}
/** POPUP Styles + Functionality **/
.popup__a {
  position: absolute;
  display: inline-block;
  text-transform: uppercase;
  left: 57.5%;
  top: 49.5%;
  cursor: pointer;
  color: grey;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* The actual popup (appears on top) */
.popup__a .popuptext__a {
  text-transform: none;
  visibility: hidden;
  font-size: 1em;
  line-height: 1.25em;
  width: 20vw;
  padding: 1vw;
  background-color: white;
  color: black;
  padding: 1vw;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 0%;
  margin-left: -80px;
}

/* Popup arrow */
.popup__a .popuptext__a::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 37%;
  margin-left: -20px;
  border-width: 5px;
  border-style: solid;
  border-color: #000 transparent transparent transparent;
}
  
/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup__a .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

.popup__b {
  position: absolute;
  display: inline-block;
  text-transform: uppercase;
  left: 23%;
  top: 55%;
  cursor: pointer;
  color: grey;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* The actual popup (appears on top) */
.popup__b .popuptext__b {
  text-transform: none;
  visibility: hidden;
  font-size: 1em;
  line-height: 1.25em;
  width: 20vw;
  background-color: white;
  color: black;
  padding: 1vw;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 0%;
  margin-left: -80px;
}

/* Popup arrow */
.popup__b .popuptext__b::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 32%;
  margin-left: -20px;
  border-width: 5px;
  border-style: solid;
  border-color: #000 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup__b .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}
  


/* IMAGE 02 */
.popup__c {
  position: absolute;
  display: inline-block;
  text-transform: uppercase;
  left: 49.8%;
  top: 59%;
  cursor: pointer;
  color: grey;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* The actual popup (appears on top) */
.popup__c .popuptext__c {
  text-transform: none;
  visibility: hidden;
  font-size: 1em;
  line-height: 1.25em;
  width: 20vw;
  background-color: white;
  color: black;
  padding: 1vw;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 0%;
  margin-left: -80px;
}

/* Popup arrow */
.popup__c .popuptext__c::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 32%;
  margin-left: -20px;
  border-width: 5px;
  border-style: solid;
  border-color: #000 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup__c .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* IMAGE 03 */
.popup__d {
  position: absolute;
  display: inline-block;
  text-transform: uppercase;
  left: 72%;
  top: 49%;
  cursor: pointer;
  color: grey;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* The actual popup (appears on top) */
.popup__d .popuptext__d {
  text-transform: none;
  visibility: hidden;
  font-size: 1em;
  line-height: 1.25em;
  width: 20vw;
  background-color: white;
  color: black;
  padding: 1vw;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 0%;
  margin-left: -80px;
}

/* Popup arrow */
.popup__d .popuptext__d::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 32%;
  margin-left: -20px;
  border-width: 5px;
  border-style: solid;
  border-color: #000 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup__d .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}



/* IMAGE 04 */
.popup__e {
  position: absolute;
  display: inline-block;
  text-transform: uppercase;
  left: 76%;
  top: 57%;
  cursor: pointer;
  color: grey;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* The actual popup (appears on top) */
.popup__e .popuptext__e {
  text-transform: none;
  visibility: hidden;
  font-size: 1em;
  line-height: 1.25em;
  width: 20vw;
  background-color: white;
  color: black;
  padding: 1vw;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 0%;
  margin-left: -80px;
}

/* Popup arrow */
.popup__e .popuptext__e::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 32%;
  margin-left: -20px;
  border-width: 5px;
  border-style: solid;
  border-color: #000 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup__e .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

